

:host {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: var(--bg-color);
}

.main-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.main-menu-container {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
}

.navigation-items {
  display: flex;
}

.navigation-item {
  display: flex;
  align-items: center;

  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 15px 13px;

  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;

  .navigation-item-icon, .navigation-item-active-icon {
    height: 20px;

    margin-top: -1px;
    margin-right: 10px;
  }
  .navigation-item-active-icon {
    display: none;
  }


  &.active {
    border-bottom: 2px solid var(--link-color);

    .navigation-item-text {
      color: var(--link-color);
    }

    .navigation-item-icon {
      display: none;
    }
    .navigation-item-active-icon {
      display: block;
    }
  }
}


.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: 15px;

  .address {
    display: flex;

    padding-bottom: 5px;
  }
  .address-icon {
    height: 14px;

    margin-right: 5px;
  }

  .call-center {
    display: flex;

    font-size: 14px;
  }
  .call-center-icon {
    height: 14px;

    margin-right: 5px;
  }
}
