<div class="content">
  <img class="page-not-found-img" src="/assets/images/NN2.png">
  <div class="page-not-found-description">
    <h1>Награды</h1>
    <br>
    Я участвую во всех интернет-конкурсах, проводимых аккаунтами производителей моделей. За это мои модели постят у них на странице и отмечают в историях. Весной 2021 года моя модель Boeing 767-300 участвовала в онлайн-выставке моделей, и заняла первое место. За это я получил диплом, а также модель Ил-62М и каталог производителя Звезда на 2021 год. 
    За участие в онлайн-конкурсах от Revell я получил каталог на 2020 год, а также 4 баночки краски.
  </div>
  
</div>